<div class="ribbon">
  {{landing-text content="landing.launch.banner.launching" classes="small ribbon"}}
</div>
<div class="banner-contents">
  {{landing-text content="landing.launch.banner.title" classes="title"}}
  {{landing-text content="landing.launch.banner.subtitle" classes="small subtitle"}}
  {{#if showCta}}
    {{landing-contact type='launch' embedded=true}}
    <div class="links">
      <a href='/start#why' class="p-link p-text small">
        {{i18n 'landing.launch.banner.links.why'}}
      </a>
      <a href='/start#how' class="p-link p-text small">
        {{i18n 'landing.launch.banner.links.how'}}
      </a>
      <a href='/organisations#top' class="p-link p-text small">
        {{i18n 'landing.launch.banner.links.organisation'}}
      </a>
    </div>
  {{else}}
    <a href='/start#banner' class="btn btn-primary">
      {{i18n 'landing.launch.contact.submit'}}
    </a>
  {{/if}}
</div>
