<div class="user-image">
  <a href="{{unbound userPath}}" data-user-card="{{unbound user.username}}">{{avatar user imageSize="huge"}}</a>
</div>

<div class="user-detail">
  <div class='name-line'>
    <span class="name">
      {{unbound user.name}}
    </span>
  </div>

  {{#if user.position}}
    <div class="position">
      {{unbound user.position}}
    </div>
  {{/if}}

  {{#if user.linkedin}}
    <div class="linkedin">
      <a href={{user.linkedin}}>{{d-icon 'linkedin-square'}}</a>
    </div>
  {{/if}}

  <div class='details'>
    {{{user.team_bio}}}
  </div>
</div>
