<div class="user-image">
  <a href="{{unbound userPath}}" data-user-card="{{unbound user.username}}">{{avatar user imageSize="huge"}}</a>
</div>

<div class="user-detail">
  <div class='name-line'>
    <span class="name">{{unbound name}}</span>
  </div>

  <div class="position">{{unbound user.position}}</div>

  <div class='details'>
    {{{user.team_bio}}}
  </div>
</div>
